<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HAGO_ADMIN_PAGE</title>
        <style>
            .box {
                border-radius: 1px;
                border-style: solid;
                border-color: aqua;
                padding: 10px;
            }
            #table_name1 {
                font-size: 20px;
                font-style: oblique;
            }
            #table_subname {
                font-size: 15px;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <p>접속상태 = <%=state%></p>
        <div class="box">
            <table>
                <th>
                    <span id="table_name1">DB컨트롤러</span>
                </th>
                <tr id="table_subname">
                    <td>
                        목적
                    </td>
                    <td>
                        table
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="category" size="1" id="category">
                            <option value="insert">추가</option>
                            <option value="update">변경</option>
                            <option value="delete">삭제</option>
                        </select>
                    </td>
                    <td>
                        <div id="table_div"></div>
                        <script>
                            $("#category").change(function() {
                                $('#table').detach();
                                if($("select[name=category]").val() == "update"){
                                    $('#table_div').append("<select name='table' size='1' id='table'></select>");
                                    $('#table').append("<option value='<%=test_value%>'><%=test_value%></option>");
                                }
                            });
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>