<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <p>mid web</p>
        <h1>당신의 아이디 : <%=DBdata%></h1>
        <h4><%=All%></h4>
        <button >hi</button>
        <a id='closetab' onclick="WinClose()">확인했고 닫기</a>


<script>
    window.location.href = "http://codinghago.com";
    history.back();
</script>

        <script>
            function WinClose()
            {
                window.open('','_self').close();
            }
        </script>
    </body>
</html>