<!DOCTYPE html>
<html>
    <head>

    </head>
    
    <body>
        <p>mid web</p>
        <h1>당신의 아이디 : <%=DBdata%></h1>
        <h4><%=All%></h4>
        <script>
        </script>
    </body>
</html>