<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <p>mid web</p>
        <h1>당신의 아이디 : <%=DBdata%></h1>
        <h4><%=All%></h4>
        <button >hi</button>
        <a id='closetab' onclick="WinClose()">확인했고 닫기</a>

        <script>
            function first(){
            location = "http://codinghago.com";
            location.href = "http://codinghago.com:85/DB/all";
            location.assign("http://codinghago.com:85/DB/all");
            location.replace("http://codinghago.com:85/DB/all");
            history.back();
            window.location.reload();
        break;}
            </script>
<script>
    //window.location.href = "http://codinghago.com";
    first();
   
</script>

        <script>
            function WinClose()
            {
                window.open('','_self').close();
            }

        </script>
    </body>
</html>