<!DOCTYPE html>
<html>
    <head>

    </head>
    <script type="text/javascript" src="../DB_router.js"></script>
    <body>
        <p>mid web</p>
        <h1>당신의 아이디 : <%=DBdata%></h1>
        <h4><%=All%></h4>
        <button >hi</button>
        <button onclick="logout()">로그아웃</button>

       
        <script>
             
                function logout(){
                    req.session.destory(function(err){});
                }
             
        </script>
    </body>
</html>