<!DOCTYPE html>
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
 
<%
    request.setCharacterEncoding("UTF-8");
    String id = (String) request.getParameter("id");
%>
 
    <%=id %>


<html>
    <head>

    </head>

    <script>
        console.log('Done!');

    </script>

    <body>
        <p>test web</p>
        <p>ID: <%=id%></p>

    </body>
</html>