<!DOCTYPE html>
<html>
    <head>

    </head>

    <script>
        console.log('Done!');

    </script>

    <body>
        <p>test web</p>
        <p>LOG: <%=test%></p>
        <form method="POST" action="http://www.codinghago.com:3389">
            <input type="text" value="test_sucess" name="posttest">
            <input type="submit">
        </form>
    </body>
</html>