<!DOCTYPE html>
<%
    String test = (String) request.getParameter("id");
%>
<%=test%>

<html>
    <head>

    </head>

    <script>
        console.log('Done!');
        console.log(Request.console);

    </script>

    <body>
        <p>test web</p>
        <p>ID: <%=id%></p>

    </body>
</html>