<!DOCTYPE html>
<html>
    <head>

    </head>

    <script>

        console.log('accept');
    </script>

    <body>
        <p>test web</p>
        <p>ID: <?php echo $_POST["id"]; ?></p>

    </body>
</html>