
<!DOCTYPE html>

<html lang="kr">
    <head>

        
        

            
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
        
        <% } %>
        <link href="https://playentry.org/lib/entry-tool/dist/entry-tool.css" rel="stylesheet"/>

        <link rel="stylesheet" type="text/css" href="/src/css/modal.css">
        <link rel="stylesheet" type="text/css" href="/example/sample.css">



        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script type="text/javascript" src="../src/class/DB_connecter.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      
        
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready( function() {
	            $("#addobjectmodal").load("/example/addobjectmodal.html");
            });
        </script>

    </head>
    

    <body>
        <script src="/src/util/utils.js" ></script>
       
        
 
        
        <section>
            <Div style="height: auto; width: auto; margin:auto;" >          
                           <!--
                <a href="http://127.0.0.1:8080/?stage=1" class="btn">처음 스테이지</a>
                <a href="http://127.0.0.1:8080/?stage=2" class="btn">다음 스테이지</a> -->
                <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
                <link rel="stylesheet" href="src/css/m.css"> 
            <!--<link rel="stylesheet" href="src/css/modal.css"> --> 
             

            <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #ffffff;">
                    
                    <a class="navbar-brand" href="#" style="margin-bottom: 45px;">
                        <img class="btn-img" src="../images/media/HAGO.png"width="200" height="auto" onclick="location.href='http://www.codinghago.com/main.do'">
                    </a>
                    
                    
            <form class="collapse navbar-collapse" id="nav_data">
                <ul style="float: none;">
                    <style>
                        .btn-outline-secondary {
                            height: 40px;
                            width: 130px;
                            margin-left: 5px;
                            border-style: solid;
                            border-width: 2px;
                            border-radius: 40px;
                            border-color: rgba(79, 196, 243, 0.9);
                            color: rgba(79, 196, 243, 0.9);
                            font-size: 15px;
                            font-style: normal;
                        }
                    </style>
                <div>
                    <ul style="text-align: center; margin-bottom: 20px; margin-top: 10px;">
                        <li></li>
                        <li class="nav-item dropdown" style="display: inline-block; margin-right: 50px;">
                            <button class="nav-link dropdown-toggle btn-lg btn-outline-secondary" href="#" id="subject_DD" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                주제
                              </button>
                            <div class="dropdown-menu" aria-labelledby="subject_DD">
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?stage=1">1Step 일과 에너지(W = Fs)</a>
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?stage=2">2Step 힘과 무게(F = ma)</a>
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?stage=3">3Step 속도(P = mv)</a>
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?stage=4">4Step </a>
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?stage=5">5Step </a>
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?stage=6">6Step </a>
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?stage=7">7Step </a>
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?stage=8">8Step </a>
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?stage=9">9Step </a>
                              <a class="dropdown-item" href="http://34.64.86.210:3389/?make.stage=10">10Step</a>
                            </div>
                        </li>
                          <li class="nav-item dropdown" style="display: inline-block;">
                            <button class="nav-link dropdown-toggle btn-lg btn-outline-secondary" href="#" id="subject_DD" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                불러오기
                              </button>
                            <div class="dropdown-menu" aria-labelledby="subject_DD">
                              <a class="dropdown-item" onclick="Entry.engine.saveobjectproject()">내 컴퓨터에 저장하기</a>
                              <div style="display: none;">
                              <input id="file" type="file" onchange="Entry.engine.loadobjectproject()" accept=".HAGO">
                              <textarea id="content" readonly ></textarea>
                            </div>
                              <label for="file">이곳을 누르세요</label>
                              <br/>
                            </div>
                        </li>
                    </ul>
                </div>


                    <li>
                        <div>

                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?stage=1'">1 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?stage=2'">2 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?stage=3'">3 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?stage=4'">4 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?stage=5'">5 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?stage=6'">6 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?stage=7'">7 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?stage=8'">8 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?stage=9'">9 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="location.href='http://34.64.86.210:3389/?make.stage=10'">10 Step</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" onclick="openInNewTab('http://codinghago.com:85/DB/all')">DB로가기</button>
                    
                    <form action="../DB/views/test.ejs" method="POST">
                        <input type="text" name="id" placeholder="Enter id here">
                        <input type="submit" value="전송">
                        <a href="../DB/views/test.ejs">aaaa</a>

                    </form>

                        <script>
                            function session_in(){
                                console.log(sessionStorage.length);
                            }
                            function openInNewTab(url) {
                                var win = window.open(url, 'width=400,height=400,left=600');
                                win.focus();
                            }
                            session_in()
                            

                    </script>
                     
                 
                    <!--<button id="addOBJ_BTN_onoff" style="display: none;" class="btn btn-lg btn-outline-secondary" type="button" onclick="OBmodal.style.display = 'block';$('#showall-tab').get(0).click();" target="_blank">add object</button>-->
                            
                    
                        </div> 
                    </li>

                </ul>

                       <!--   <link rel="stylesheet" href="example/style.css">
                        <div class="OBMM">
                            
                            
                            <div class='menu closed'>
                                <div class='messages button'></div>
                                <div class='music button'></div>
                                <div class='home button'></div>
                                <div class='places button'></div>
                                <div class='bookmark button'></div>
                                <div class='main button'>Menu</div>
                              </div>
                              
                            </script><script  src="example/script.js"></script>
                            </div>-->
                        
                        <script>
                            window.PUBLIC_PATH_FOR_ENTRYJS = 'lib/entry-js/dist/';
                            var test1 = new FileReader();
                            var blobObj = new Blob(['test'], {type:'text/plain'});

                        </script>
                        <script src='../src/object/objects.js'></script>
                            
                        </script>
                        
                        
            </form>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_data" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
            </nav>
                <!--
                &nbsp;<button class="btn" id="btn" type="submit"><img class="btn-img" src="../images/media/HAGO.png"width="200" height="80" onclick="location.href='https://codinghago.imweb.me/index?preview_mode=1'"></button>
                    
                    
                
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=1'" class="learn-more">stage.1</button> &nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=2'" class="learn-more">stage.2</button> &nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.3</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.4</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.5</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.6</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.7</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.8</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.9</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?make.stage=10'" class="learn-more">stage.10</button>

                -->
                <!--<button type="button" onclick="location.href='http://127.0.0.1:8080/physics/demo/physics.html#avalanche'" class="learn-more">물리엔진</button>-->
                          
            
            </Div>
            <!--
            <button style="border: 1px solid black" onclick="changeWorkspaceMode('block')">블럭 모드</button> 
            <button style="border: 1px solid black" onclick="changeWorkspaceMode('python')">Python Mode</button>
            -->
          
         
           
        </section>
        <section class="wrapper">
            <div id="workspace"></div>
        </section>
        <!--language-->
        <script src="../extern/lang/ko.js"></script>

        <script type="text/javascript" src="https://playentry.org/lib/entry-tool/dist/entry-tool.js"></script>
         <script type="text/javascript" src="https://playentry.org/lib/PreloadJS/lib/preloadjs-0.6.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/EaselJS/lib/easeljs-0.8.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/SoundJS/lib/soundjs-0.6.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/SoundJS/lib/flashaudioplugin-0.6.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/lodash/dist/lodash.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/velocity/velocity.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/lib/codemirror.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/hint/show-hint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/lint/lint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/selection/active-line.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/hint/javascript-hint.js"></script>
        <script type="text/javascript" src="https://playentry.org/js/jshint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/fuzzy/lib/fuzzy.js"></script>
        <script type="text/javascript" src="https://playentry.org/js/textmode/python/python.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/filbert.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/CanvasInput.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/ndgmr.Collision.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/handle.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/bignumber.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/socket.io-client/socket.io.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/react/react.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/react/react-dom.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-lms/dist/assets/app.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/literallycanvas-mobile/lib/js/literallycanvas.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-tool/dist/entry-tool.js"></script>
        <script type="text/javascript" src="../entry-tool/src/components/popup/Sample.jsx"></script>

      

        <script src="../extern/util/static.js"></script>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>
    

        <script>

            function changeWorkspaceMode(mode) {
                const option = {};

                if (mode === 'block') {
                    option.boardType = Entry.Workspace.MODE_BOARD;
                    option.textType = -1;
                } else {
                    option.boardType = Entry.Workspace.MODE_VIMBOARD;
                    option.textType = Entry.Vim.TEXT_TYPE_PY;
                    option.runType = Entry.Vim.WORKSPACE_MODE;
                }

                const workspace = Entry.getMainWS();
                if (workspace) {
                    workspace.setMode(option);
                } else {
                    console.error('entry workspace not found!');
                }
            };
        </script>
<script>
    objectmanager1.onclick = function() {
        propertyContent.style.display = "block";

                            
                        }
</script>
        
        </div>
        
        <!--main script-->
        <script>
            window.PUBLIC_PATH_FOR_ENTRYJS = 'lib/entry-js/dist/';
            $(document).ready(function() {
                var initOption = {
                    type: 'workspace',
                    textCodingEnable: true,
                };
                Entry.init(document.getElementById('workspace'), initOption);
               
                Entry.loadProject();
            });
          
        </script>

        </script>

        <!-- Trigger/Open The Modal -->
    
        
        
        <!-- The Modal & next stage_script -->
        <script>
            var now_link = window.location.href.split("stage=")
            var next_num = Number(now_link[1])+1;
            var next_stage = now_link[0]+'stage='+ next_num;
        </script>

        <div id="myModal" class="modal">  
            <!-- Modal content -->
            <div class="modal-content" style="width: 50%;height: 60%;margin-top: 10em">
                <span class="close">&times;</span>
                <table border="0" style="text-align: center">
	                <tr>
	                    <td colspan="2"><br><h1>스테이지 클리어!</h1><br></td>
	                </tr>
	                <tr>
	                    <td colspan="2"><img src="/images/media/test_ing.png" alt width="420" height="auto">    </td>
	                </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary" id="Btn_back" style="font-weight: 600;padding: 0.4em;width: 150px;height: 50px" onclick="location.href=now_link[0]+'stage='+now_link[1]" >retry</button></td>
                        <td><button type="button" class="btn btn-primary" id="Btn_next" style="font-weight: 600;padding: 0.4em;width: 150px;height: 50px" onclick="location.href=next_stage">NEXT</button></td>

                    </tr>
                </table>
            </div>
 
        </div>
        <div id="addobjectmodal" class="OBmodal">  
            
        </div>
        <script type="text/javascript">
            function fileinfo(){
                   var file = document.getElementById("file").files[0];
               document.getElementById("table").innerHTML += "<tr><td>파일이름</td><td>"+file.name+"</td></tr>";
               document.getElementById("table").innerHTML += "<tr><td>파일크기</td><td>"+file.size+"</td></tr>";
               document.getElementById("table").innerHTML += "<tr><td>파일타입</td><td>"+file.type+"</td></tr>";
               document.getElementById("table").innerHTML += "<tr><td>파일수정날짜</td><td>"+file.lastModifiedDate+"</td></tr>";
        
        
            }
            function fileread(){
               var file = document.getElementById("file").files[0];
               var reader = new FileReader();
               console.log(reader);
               reader.readAsText(file, "utf-8");
               reader.onload=function(){
                   var view=document.getElementById("content");
                   view.textContent = reader.result;
                   
                   var load_data = JSON.parse(reader.result);
                   Entry.clearProject();
                   
                  Entry.loadProject(load_data);

               };
               var load_data = JSON.parse(reader.result);
                   Entry.loadProject(load_data);
               reader.onerror = function(event){
                   switch(event.target.error.code){
                       case error.NOT_FOUND_ERR:
                           alert("읽을 파일을 찾지 못하였습니다..");break;
                       case error.SECURITY_ERR:
                           alert("보안상 안전하지 않습니다..");break;
                       case error.ABORT_ERR:
                           alert("읽기가 중지되었습니다."); break;
                       case error.NOT_READABLE_ERR:
                           alert("읽기 권한이 없습니다."); break;
                       case error.ENCODING_ERR:
                           alert("파일 용량이 상한을 초과하였습니다."); break;
        
                   }
              
               };
            }
         </script>
         <!--
         <script>
             function mysql(){
var mysql = require('mysql');

var connection = mysql.createConnection({
    host:'localhost',
    user:'root',
    password:'jjuny1977',
    port:'3306',
    database:'hagoproject'
});



    connection.connect();

    connection.query('select * from user', function(err, rows, fields){
        if(!err) {
            console.log(rows);
        }
        else {
            console.log('Error!', err);
        }

});

connection.end();


function test() {
    console.log("Done!");
}
}

         </script>

-->

         <script>
            if(Number(now_link[1]) == 10){
                $('#steponoff').css('display', 'block');
            }
            else{
                $('#steponoff').css('display', 'none');
            }
            </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/src/class/modal.js"></script>
    </body>
</html>
