

.Portfolio {
    position: relative;
    margin: 5px;
    border: 2px solid lightblue;
    float: left;
    width: 180px;
    transition-duration: 0.4s;
    border-radius: 5px;
    animation: winanim 0.5s ;
-webkit-backface-visibility:visible;
    backface-visibility:visible;
    box-shadow:0 3px 5px -1px rgba(93, 174, 250, 0.2),0 5px 8px 0 rgba(93, 174, 250,.14),0 1px 14px 0 rgba(93, 174, 250,.12)
}

.Portfolio:hover {
    box-shadow: 0 12px 16px 0 rgba(93, 174, 250,.24),0 17px 50px 0 rgba(93, 174, 250,.19);
}

.desc {
    padding: 5px;
    text-align: center;
    font-size: 95%;
    font-weight: bold;
    background: lightblue;
    color:
}

.nav {
    margin-left:10%;
}

.nav li a { 
    margin:5px;
    padding: 10px 30px; 
    font-size:18px; 
    color:royalblue; 
    background: lightblue;
    transition-duration: 0.4s;
}
.nav a:hover { 
    background:skyblue; 
}
.nav .active { 
    background-color:skyblue !important;
    color:#fff;
}

.btnbg {
    background-color:white;
    border: 0px   
}

.scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}