<!DOCTYPE html>
<html>
<head>
	<title>Edit Page</title>
</head>
<body>
	<h1>Edit Page</h1>
	<form method='post'>
		<fieldset>
			<legend>EDIT DATA</legend>
			<table>
				<tr>
					<td><lable>Id</lable></td>
					<td><input type="text" name="ID" value="<%= user.ID  %>" disable /></td>
				</tr>			
				<tr>
					<td><lable>No</lable></td>
					<td><input type="text" name="No" value="<%= user.No  %>" /></td>
				</tr>
				<tr>
					<td><lable>Password</lable></td>
					<td><input type="text" name="Password" value="<%= user.Password %>" /></td>
				</tr>
				<tr>
					<td><lable>NickName</lable></td>
					<td><input type="text" name="NickName"  value="<%= user.NickName %>" /></td>
				</tr>
			</table>
			<input type="submit" value="Update"/>
		</fieldset>
	</form>
</body>
</html>